/*kann ich html hier rausnehmen? sonst grau im body dunkler*/
body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background-color: rgba(155, 153, 153, 0.603);
}

.wrapper {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem;
}

.card {
  height: 120px;
  background-color: white;
  border-radius: 2%;
  margin: 2%;
  display: flex;
  box-shadow: 5px 5px 14px -2px #292828;
  transition: margin-right 5s ease-in-out;
}

.card:hover {
  background-color: rgba(233, 227, 227, 0.925);
}

.daten {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}

img {
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  margin: 2%;
}

.card h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.card a {
  color: darkslategrey;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    max-width: 660px;
    padding-left: 8%;
    padding-right: 8%;
  }

  .eintraege {
    display: flex;
    flex-wrap: wrap; /*Zeilenumbruch*/
    justify-content: center;
  }

  .card {
    flex-direction: column;
    width: 200px;
    height: 250px;
    align-content: center;
    margin: 10px;
  }

  img {
    max-width: 60%;
    margin: auto;
    margin-top: 5%;
  }

  .daten {
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: 1025px) {
  .wrapper {
    max-width: 1110px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .eintraege {
    display: flex;
    flex-wrap: wrap; /*Zeilenumbruch*/
    justify-content: center;
  }

  .card {
    flex-direction: column;
    align-content: center;
    width: 200px;
    height: 350px;
    margin: 10px;
  }

  img {
    border-radius: 0;
    width: auto;
    height: auto;
    margin: 0;
  }

  .daten {
    align-items: center;
    justify-content: space-around;
    margin: 15%;
  }
}
